<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.osate.pluginsupport.aadlcontribution">
      <aadlcontribution
            file="resources/properties/FMEDA.aadl"
            id="org.osate.iso26262.contrib.fmeda">
      </aadlcontribution>
   </extension>

</plugin>
