<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.osate.ui.examples">
      <example
            exampleURI="/examples/automated-driving-system"
            readmeURI="doc/html/README.html"
            category="ISO26262 Examples"
            name="Automated Driving System">
         <project path=""/>
      </example>
   </extension>
</plugin>
